.container{
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.left{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
}

.left .logo{
  width: 500px;
}

.left .inputemail{
  font-size: 0.9rem;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #ccc;
  padding-left: 2em;
  width: 500px;
  margin-bottom: 1.5rem;
}

.left .inputemail:focus-visible{
  outline: none;
}

.left .button{
  height: 50px;
  border-radius: 10px;
  width: 500px;
  border: none;
  color: #ffff;
  background-color: #00d75b;
  cursor: pointer;
  margin-bottom: 3rem;
  font-size: 0.9rem;
}

.left .button:hover{
  background-color: #029c42;
}

.left .button:focus-visible{
  outline: none;
}

.left .registry{
  font-size: 1rem;
  color: rgb(165, 161, 161);
  width: 500px;
  margin-bottom: 150px;
}

.title{
  width: 500px;
  margin-bottom: 3rem;
  margin-top: 100px;
}

.title span{
  color: #00d75b;
}

.right{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
}

.right img{
  position:relative;
  z-index:-1;
  display:block;
}

.background{
  display: flex;
  background: linear-gradient(0deg ,#111 0%,transparent 100%);
}

.bottom{
  display: flex;
  align-items: center;
  justify-content: center;
  position: inherit;
  left: 0;
  bottom: 0;
  width: inherit;
}

.bottom .left{
  display: flex;
  align-items: start;
}

.bottom .right{
  display: flex;
  align-items: center;
  flex-direction: row;  
  justify-content: space-evenly;
  width: -webkit-fill-available;
}

.bottom .left span{
  color: rgb(165, 161, 161);
}

.bottom .right span a{
  color: #00d75b;
  text-decoration: none;
}